USE [master]
GO
/****** Объект:  Database [pr_Maksimenkov_skins]    Дата создания скрипта: 03.05.2026 23:05:25 ******/ 
CREATE DATABASE [pr_Maksimenkov_skins]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pr_Maksimenkov_skins', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pr_Maksimenkov_skins.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pr_Maksimenkov_skins_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pr_Maksimenkov_skins_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pr_Maksimenkov_skins].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pr_Maksimenkov_skins]
GO
/****** Объект:  User [cs2user]    Дата создания скрипта: 03.05.2026 23:05:25 ******/ 
CREATE USER [cs2user] FOR LOGIN [cs2user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cs2user]
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_CalculateCommission]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ФУНКЦИЯ 1: Расчёт комиссии платформы
-- Тип: скалярная (возвращает одно число)
-- Назначение: вычисляет комиссию 5% от цены
-- ============================================
CREATE FUNCTION [dbo].[fn_CalculateCommission]
(
    @Price DECIMAL(12,2),
    @CommissionRate DECIMAL(5,2) = 5.0
)
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @Commission DECIMAL(12,2);
    SET @Commission = @Price * (@CommissionRate / 100);
    RETURN @Commission;
END;
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_GetUserActiveListingsCount]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ФУНКЦИЯ 5: Количество активных объявлений пользователя
-- Тип: скалярная
-- ============================================
CREATE FUNCTION [dbo].[fn_GetUserActiveListingsCount]
(
    @UserID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @Count INT;
    
    SELECT @Count = COUNT(*)
    FROM Listings
    WHERE SellerID = @UserID AND Status = 'Active';
    
    RETURN ISNULL(@Count, 0);
END;
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_GetUserAvgTradePrice]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ФУНКЦИЯ 4: Средняя цена сделок пользователя
-- Тип: скалярная
-- Назначение: возвращает среднюю сумму сделки пользователя
-- ============================================
CREATE FUNCTION [dbo].[fn_GetUserAvgTradePrice]
(
    @UserID INT,
    @AsSeller BIT = 1   -- 1 = как продавец, 0 = как покупатель
)
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @AvgPrice DECIMAL(12,2);
    
    IF @AsSeller = 1
    BEGIN
        SELECT @AvgPrice = AVG(FinalPrice)
        FROM Trades
        WHERE SellerID = @UserID AND TradeStatus = 'Completed';
    END
    ELSE
    BEGIN
        SELECT @AvgPrice = AVG(FinalPrice)
        FROM Trades
        WHERE BuyerID = @UserID AND TradeStatus = 'Completed';
    END
    
    RETURN ISNULL(@AvgPrice, 0);
END;
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_GetUserInventoryValue]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ФУНКЦИЯ 2: Общая стоимость инвентаря пользователя
-- Тип: скалярная
-- Назначение: считает сумму всех скинов пользователя
-- ============================================
CREATE FUNCTION [dbo].[fn_GetUserInventoryValue]
(
    @UserID INT
)
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @TotalValue DECIMAL(12,2);
    
    SELECT @TotalValue = SUM(S.MarketPrice)
    FROM UserInventory UI
    JOIN Skins S ON UI.SkinID = S.SkinID
    WHERE UI.UserID = @UserID;
    
    RETURN ISNULL(@TotalValue, 0);
END;
GO
/****** Объект:  Table [dbo].[SkinCategories]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkinCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Rarity] [nvarchar](50) NULL,
	[WeaponType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Skins]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skins](
	[SkinID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SkinName] [nvarchar](200) NOT NULL,
	[WeaponName] [nvarchar](100) NULL,
	[Quality] [nvarchar](50) NULL,
	[FloatValue] [decimal](5, 4) NULL,
	[StatTrak] [bit] NULL,
	[Souvenir] [bit] NULL,
	[Phase] [nvarchar](50) NULL,
	[PatternTemplate] [int] NULL,
	[RarityLevel] [int] NULL,
	[MarketPrice] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  UserDefinedFunction [dbo].[fn_SearchSkins]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ФУНКЦИЯ 3: Поиск скинов по параметрам
-- Тип: табличная
-- Назначение: возвращает таблицу скинов, подходящих под критерии
-- ============================================
CREATE FUNCTION [dbo].[fn_SearchSkins]
(
    @WeaponName NVARCHAR(100) = NULL,
    @Quality NVARCHAR(50) = NULL,
    @MinPrice DECIMAL(12,2) = 0,
    @MaxPrice DECIMAL(12,2) = 9999999,
    @StatTrak BIT = NULL,
    @Souvenir BIT = NULL
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        S.SkinID,
        S.SkinName,
        S.WeaponName,
        S.Quality,
        S.FloatValue,
        S.StatTrak,
        S.Souvenir,
        S.MarketPrice,
        C.CategoryName
    FROM Skins S
    JOIN SkinCategories C ON S.CategoryID = C.CategoryID
    WHERE (@WeaponName IS NULL OR S.WeaponName LIKE '%' + @WeaponName + '%')
      AND (@Quality IS NULL OR S.Quality = @Quality)
      AND (S.MarketPrice BETWEEN @MinPrice AND @MaxPrice)
      AND (@StatTrak IS NULL OR S.StatTrak = @StatTrak)
      AND (@Souvenir IS NULL OR S.Souvenir = @Souvenir)
);
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[SteamID64] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](200) NULL,
	[TradeLink] [nvarchar](500) NULL,
	[RegistrationDate] [datetime] NULL,
	[Balance] [decimal](12, 2) NULL,
	[TotalTrades] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Listings]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listings](
	[ListingID] [int] IDENTITY(1,1) NOT NULL,
	[SkinID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[ListedDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[IsFloatVisible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[vw_ActiveListings]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ПРЕДСТАВЛЕНИЕ 1: Активные объявления
-- Для просмотра всех скинов в продаже
-- ============================================
CREATE VIEW [dbo].[vw_ActiveListings] AS
SELECT 
    L.ListingID,
    S.SkinName,
    S.WeaponName,
    S.Quality,
    S.FloatValue,
    S.StatTrak,
    S.Souvenir,
    L.Price,
    L.ListedDate,
    U.Username AS SellerName,
    U.Balance AS SellerBalance
FROM Listings L
JOIN Skins S ON L.SkinID = S.SkinID
JOIN Users U ON L.SellerID = U.UserID
WHERE L.Status = 'Active';
GO
/****** Объект:  Table [dbo].[UserInventory]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SkinID] [int] NOT NULL,
	[AcquiredDate] [datetime] NULL,
	[IsListed] [bit] NULL,
	[TradeLockEndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[vw_UserInventoryDetails]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ПРЕДСТАВЛЕНИЕ 2: Инвентарь пользователей с деталями
-- Для просмотра всех скинов у каждого пользователя
-- ============================================
CREATE VIEW [dbo].[vw_UserInventoryDetails] AS
SELECT 
    UI.InventoryID,
    UI.UserID,
    U.Username,
    S.SkinID,
    S.SkinName,
    S.WeaponName,
    S.Quality,
    S.FloatValue,
    S.StatTrak,
    S.Souvenir,
    S.MarketPrice,
    UI.AcquiredDate,
    UI.IsListed,
    UI.TradeLockEndDate
FROM UserInventory UI
JOIN Users U ON UI.UserID = U.UserID
JOIN Skins S ON UI.SkinID = S.SkinID;
GO
/****** Объект:  Table [dbo].[Trades]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trades](
	[TradeID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[BuyerID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[TradeDate] [datetime] NULL,
	[FinalPrice] [decimal](12, 2) NOT NULL,
	[TradeStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[vw_TradeHistory]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ПРЕДСТАВЛЕНИЕ 3: История всех сделок
-- Для просмотра завершённых покупок/продаж
-- ============================================
CREATE VIEW [dbo].[vw_TradeHistory] AS
SELECT 
    T.TradeID,
    T.TradeDate,
    T.FinalPrice,
    T.TradeStatus,
    S.SkinName,
    S.WeaponName,
    S.Quality,
    Buyer.Username AS BuyerName,
    Seller.Username AS SellerName,
    L.Price AS ListedPrice
FROM Trades T
JOIN Listings L ON T.ListingID = L.ListingID
JOIN Skins S ON L.SkinID = S.SkinID
JOIN Users Buyer ON T.BuyerID = Buyer.UserID
JOIN Users Seller ON T.SellerID = Seller.UserID;
GO
/****** Объект:  View [dbo].[vw_SkinStats]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ПРЕДСТАВЛЕНИЕ 4: Статистика по скинам
-- Для аналитики: сколько продано, средняя цена, объём
-- ============================================
CREATE VIEW [dbo].[vw_SkinStats] AS
SELECT 
    S.SkinID,
    S.SkinName,
    S.WeaponName,
    S.Quality,
    COUNT(T.TradeID) AS TotalSales,
    ISNULL(AVG(T.FinalPrice), 0) AS AvgPrice,
    ISNULL(MIN(T.FinalPrice), 0) AS MinPrice,
    ISNULL(MAX(T.FinalPrice), 0) AS MaxPrice,
    ISNULL(SUM(T.FinalPrice), 0) AS TotalVolume
FROM Skins S
LEFT JOIN Listings L ON S.SkinID = L.SkinID
LEFT JOIN Trades T ON L.ListingID = T.ListingID AND T.TradeStatus = 'Completed'
GROUP BY S.SkinID, S.SkinName, S.WeaponName, S.Quality;
GO
/****** Объект:  View [dbo].[vw_TopUsersByBalance]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ПРЕДСТАВЛЕНИЕ 5: Топ пользователей по балансу
-- ============================================
CREATE VIEW [dbo].[vw_TopUsersByBalance] AS
SELECT TOP 10
    UserID,
    Username,
    Balance,
    TotalTrades,
    RegistrationDate
FROM Users
ORDER BY Balance DESC;
GO
/****** Объект:  Table [dbo].[ListingPriceLog]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingPriceLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NULL,
	[OldPrice] [decimal](12, 2) NULL,
	[NewPrice] [decimal](12, 2) NULL,
	[ChangeDate] [datetime] NULL,
	[ChangedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[TradeHistory]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[TradeID] [int] NOT NULL,
	[BotOfferID] [nvarchar](100) NULL,
	[OfferStatus] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Withdrawals]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Withdrawals](
	[WithdrawalID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[RequestDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[WithdrawalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Listings] ON 

INSERT [dbo].[Listings] ([ListingID], [SkinID], [SellerID], [Price], [ListedDate], [Status], [IsFloatVisible]) VALUES (1, 1, 1, CAST(115000.00 AS Decimal(12, 2)), CAST(N'2026-05-03T21:36:00.797' AS DateTime), N'Active', 1)
INSERT [dbo].[Listings] ([ListingID], [SkinID], [SellerID], [Price], [ListedDate], [Status], [IsFloatVisible]) VALUES (2, 2, 2, CAST(80000.00 AS Decimal(12, 2)), CAST(N'2026-05-03T21:36:00.797' AS DateTime), N'Active', 1)
INSERT [dbo].[Listings] ([ListingID], [SkinID], [SellerID], [Price], [ListedDate], [Status], [IsFloatVisible]) VALUES (3, 7, 1, CAST(17000.00 AS Decimal(12, 2)), CAST(N'2026-05-03T21:36:00.797' AS DateTime), N'Active', 1)
SET IDENTITY_INSERT [dbo].[Listings] OFF
GO
SET IDENTITY_INSERT [dbo].[SkinCategories] ON 

INSERT [dbo].[SkinCategories] ([CategoryID], [CategoryName], [Rarity], [WeaponType]) VALUES (1, N'Ножи', N'Тайное', N'Нож')
INSERT [dbo].[SkinCategories] ([CategoryID], [CategoryName], [Rarity], [WeaponType]) VALUES (2, N'Перчатки', N'Тайное', N'Перчатки')
INSERT [dbo].[SkinCategories] ([CategoryID], [CategoryName], [Rarity], [WeaponType]) VALUES (3, N'Пистолеты', N'Запретка', N'Pistol')
SET IDENTITY_INSERT [dbo].[SkinCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Skins] ON 

INSERT [dbo].[Skins] ([SkinID], [CategoryID], [SkinName], [WeaponName], [Quality], [FloatValue], [StatTrak], [Souvenir], [Phase], [PatternTemplate], [RarityLevel], [MarketPrice]) VALUES (1, 1, N'Karambit | Doppler', N'Karambit', N'Factory New', CAST(0.0123 AS Decimal(5, 4)), 0, 0, NULL, NULL, NULL, CAST(120000.00 AS Decimal(12, 2)))
INSERT [dbo].[Skins] ([SkinID], [CategoryID], [SkinName], [WeaponName], [Quality], [FloatValue], [StatTrak], [Souvenir], [Phase], [PatternTemplate], [RarityLevel], [MarketPrice]) VALUES (2, 1, N'M9 Bayonet | Lore', N'M9 Bayonet', N'Minimal Wear', CAST(0.0892 AS Decimal(5, 4)), 1, 0, NULL, NULL, NULL, CAST(85000.00 AS Decimal(12, 2)))
INSERT [dbo].[Skins] ([SkinID], [CategoryID], [SkinName], [WeaponName], [Quality], [FloatValue], [StatTrak], [Souvenir], [Phase], [PatternTemplate], [RarityLevel], [MarketPrice]) VALUES (3, 1, N'Butterfly Knife | Fade', N'Butterfly Knife', N'Factory New', CAST(0.0098 AS Decimal(5, 4)), 0, 0, NULL, NULL, NULL, CAST(110000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Skins] OFF
GO
SET IDENTITY_INSERT [dbo].[Trades] ON 

INSERT [dbo].[Trades] ([TradeID], [ListingID], [BuyerID], [SellerID], [TradeDate], [FinalPrice], [TradeStatus]) VALUES (1, 11, 4, 2, CAST(N'2026-04-23T21:36:00.807' AS DateTime), CAST(33000.00 AS Decimal(12, 2)), N'Completed')
INSERT [dbo].[Trades] ([TradeID], [ListingID], [BuyerID], [SellerID], [TradeDate], [FinalPrice], [TradeStatus]) VALUES (2, 12, 1, 3, CAST(N'2026-04-25T21:36:00.807' AS DateTime), CAST(105000.00 AS Decimal(12, 2)), N'Completed')
INSERT [dbo].[Trades] ([TradeID], [ListingID], [BuyerID], [SellerID], [TradeDate], [FinalPrice], [TradeStatus]) VALUES (3, 13, 2, 1, CAST(N'2026-04-28T21:36:00.807' AS DateTime), CAST(68000.00 AS Decimal(12, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Trades] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInventory] ON 

INSERT [dbo].[UserInventory] ([InventoryID], [UserID], [SkinID], [AcquiredDate], [IsListed], [TradeLockEndDate]) VALUES (1, 1, 1, CAST(N'2026-05-03T21:36:00.783' AS DateTime), 0, NULL)
INSERT [dbo].[UserInventory] ([InventoryID], [UserID], [SkinID], [AcquiredDate], [IsListed], [TradeLockEndDate]) VALUES (2, 1, 3, CAST(N'2026-05-03T21:36:00.783' AS DateTime), 0, NULL)
INSERT [dbo].[UserInventory] ([InventoryID], [UserID], [SkinID], [AcquiredDate], [IsListed], [TradeLockEndDate]) VALUES (3, 1, 7, CAST(N'2026-05-03T21:36:00.783' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[UserInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [SteamID64], [Username], [TradeLink], [RegistrationDate], [Balance], [TotalTrades]) VALUES (1, N'76561198123456789', N'SkinMaster', N'trade_link_1', CAST(N'2026-05-03T21:36:00.740' AS DateTime), CAST(50000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Users] ([UserID], [SteamID64], [Username], [TradeLink], [RegistrationDate], [Balance], [TotalTrades]) VALUES (2, N'76561198987654321', N'CS2_Collector', N'trade_link_2', CAST(N'2026-05-03T21:36:00.740' AS DateTime), CAST(25000.00 AS Decimal(12, 2)), 2)
INSERT [dbo].[Users] ([UserID], [SteamID64], [Username], [TradeLink], [RegistrationDate], [Balance], [TotalTrades]) VALUES (3, N'76561198555555555', N'TradeKing', N'trade_link_3', CAST(N'2026-05-03T21:36:00.740' AS DateTime), CAST(100000.00 AS Decimal(12, 2)), 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Объект:  Index [IX_Listings_SellerID]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
CREATE NONCLUSTERED INDEX [IX_Listings_SellerID] ON [dbo].[Listings]
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_Listings_Status]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
CREATE NONCLUSTERED INDEX [IX_Listings_Status] ON [dbo].[Listings]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_Skins_Quality]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
CREATE NONCLUSTERED INDEX [IX_Skins_Quality] ON [dbo].[Skins]
(
	[Quality] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Trades_BuyerID]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
CREATE NONCLUSTERED INDEX [IX_Trades_BuyerID] ON [dbo].[Trades]
(
	[BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [IX_Trades_SellerID]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
CREATE NONCLUSTERED INDEX [IX_Trades_SellerID] ON [dbo].[Trades]
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__51B2C4386A77EEE0]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[SteamID64] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ListingPriceLog] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT (getdate()) FOR [ListedDate]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((0)) FOR [IsFloatVisible]
GO
ALTER TABLE [dbo].[Skins] ADD  DEFAULT ((0)) FOR [StatTrak]
GO
ALTER TABLE [dbo].[Skins] ADD  DEFAULT ((0)) FOR [Souvenir]
GO
ALTER TABLE [dbo].[Trades] ADD  DEFAULT (getdate()) FOR [TradeDate]
GO
ALTER TABLE [dbo].[Trades] ADD  DEFAULT ('Completed') FOR [TradeStatus]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT (getdate()) FOR [AcquiredDate]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT ((0)) FOR [IsListed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [TotalTrades]
GO
ALTER TABLE [dbo].[Withdrawals] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Withdrawals] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD FOREIGN KEY([SkinID])
REFERENCES [dbo].[Skins] ([SkinID])
GO
ALTER TABLE [dbo].[Skins]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[SkinCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[TradeHistory]  WITH CHECK ADD FOREIGN KEY([TradeID])
REFERENCES [dbo].[Trades] ([TradeID])
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ListingID])
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserInventory]  WITH CHECK ADD FOREIGN KEY([SkinID])
REFERENCES [dbo].[Skins] ([SkinID])
GO
ALTER TABLE [dbo].[UserInventory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Withdrawals]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [CK_Listings_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [CK_Listings_Price]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [CK_Listings_Status] CHECK  (([Status]='Cancelled' OR [Status]='Sold' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [CK_Listings_Status]
GO
ALTER TABLE [dbo].[Skins]  WITH CHECK ADD  CONSTRAINT [CK_Skins_FloatValue] CHECK  (([FloatValue]>=(0) AND [FloatValue]<=(1)))
GO
ALTER TABLE [dbo].[Skins] CHECK CONSTRAINT [CK_Skins_FloatValue]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Balance] CHECK  (([Balance]>=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Balance]
GO
/****** Объект:  StoredProcedure [dbo].[pr_BuySkin]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ХРАНИМАЯ ПРОЦЕДУРА 1: Покупка скина
-- Назначение: автоматическая покупка с проверкой баланса
-- ============================================
CREATE PROCEDURE [dbo].[pr_BuySkin]
    @ListingID INT,
    @BuyerID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @SellerID INT, @Price DECIMAL(12,2);
        DECLARE @CommissionRate DECIMAL(5,2) = 5.0;
        DECLARE @Commission DECIMAL(12,2), @SellerPayout DECIMAL(12,2);
        
        -- Получаем информацию об объявлении
        SELECT @SellerID = SellerID, @Price = Price
        FROM Listings
        WHERE ListingID = @ListingID AND Status = 'Active';
        
        IF @SellerID IS NULL
        BEGIN
            RAISERROR('Ошибка: Объявление не найдено или уже продано', 16, 1);
            ROLLBACK;
            RETURN;
        END;
        
        -- Проверка: покупатель не может купить свой скин
        IF @BuyerID = @SellerID
        BEGIN
            RAISERROR('Ошибка: Нельзя купить собственный скин', 16, 1);
            ROLLBACK;
            RETURN;
        END;
        
        -- Проверка баланса покупателя
        DECLARE @BuyerBalance DECIMAL(12,2);
        SELECT @BuyerBalance = Balance FROM Users WHERE UserID = @BuyerID;
        
        IF @BuyerBalance < @Price
        BEGIN
            RAISERROR('Ошибка: Недостаточно средств на балансе', 16, 1);
            ROLLBACK;
            RETURN;
        END;
        
        -- Расчёт комиссии (5%)
        SET @Commission = @Price * @CommissionRate / 100;
        SET @SellerPayout = @Price - @Commission;
        
        -- Списание средств с покупателя
        UPDATE Users SET Balance = Balance - @Price WHERE UserID = @BuyerID;
        
        -- Начисление средств продавцу (за вычетом комиссии)
        UPDATE Users SET Balance = Balance + @SellerPayout WHERE UserID = @SellerID;
        
        -- Обновление статуса объявления
        UPDATE Listings SET Status = 'Sold' WHERE ListingID = @ListingID;
        
        -- Обновление инвентаря: удаляем у продавца
        DELETE FROM UserInventory 
        WHERE UserID = @SellerID AND SkinID = (SELECT SkinID FROM Listings WHERE ListingID = @ListingID);
        
        -- Обновление инвентаря: добавляем покупателю
        INSERT INTO UserInventory (UserID, SkinID, AcquiredDate, IsListed)
        SELECT @BuyerID, SkinID, GETDATE(), 0
        FROM Listings WHERE ListingID = @ListingID;
        
        -- Создание записи о сделке
        INSERT INTO Trades (ListingID, BuyerID, SellerID, TradeDate, FinalPrice, TradeStatus)
        VALUES (@ListingID, @BuyerID, @SellerID, GETDATE(), @Price, 'Completed');
        
        -- Увеличение счётчика сделок
        UPDATE Users SET TotalTrades = TotalTrades + 1 WHERE UserID = @BuyerID;
        UPDATE Users SET TotalTrades = TotalTrades + 1 WHERE UserID = @SellerID;
        
        COMMIT TRANSACTION;
        
        -- Вывод результата
        SELECT 
            'Покупка успешно совершена!' AS Message,
            @Price AS Price,
            @Commission AS Commission,
            @SellerPayout AS SellerReceived;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO
/****** Объект:  StoredProcedure [dbo].[pr_DepositBalance]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ХРАНИМАЯ ПРОЦЕДУРА 2: Пополнение баланса
-- ============================================
CREATE PROCEDURE [dbo].[pr_DepositBalance]
    @UserID INT,
    @Amount DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @Amount <= 0
    BEGIN
        RAISERROR('Ошибка: Сумма пополнения должна быть положительной', 16, 1);
        RETURN;
    END;
    
    UPDATE Users 
    SET Balance = Balance + @Amount 
    WHERE UserID = @UserID;
    
    SELECT 
        'Баланс успешно пополнен!' AS Message,
        UserID,
        Username,
        Balance
    FROM Users 
    WHERE UserID = @UserID;
END;
GO
/****** Объект:  StoredProcedure [dbo].[pr_GetTopSkins]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ХРАНИМАЯ ПРОЦЕДУРА 4: Топ продаваемых скинов
-- ============================================
CREATE PROCEDURE [dbo].[pr_GetTopSkins]
    @TopCount INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopCount)
        S.SkinName,
        S.WeaponName,
        S.Quality,
        COUNT(T.TradeID) AS SalesCount,
        AVG(T.FinalPrice) AS AvgPrice,
        SUM(T.FinalPrice) AS TotalVolume
    FROM Trades T
    JOIN Listings L ON T.ListingID = L.ListingID
    JOIN Skins S ON L.SkinID = S.SkinID
    WHERE T.TradeStatus = 'Completed'
    GROUP BY S.SkinID, S.SkinName, S.WeaponName, S.Quality
    ORDER BY SalesCount DESC;
END;
GO
/****** Объект:  StoredProcedure [dbo].[pr_RequestWithdrawal]    Дата создания скрипта: 03.05.2026 23:05:26 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ХРАНИМАЯ ПРОЦЕДУРА 3: Создание заявки на вывод средств
-- ============================================
CREATE PROCEDURE [dbo].[pr_RequestWithdrawal]
    @UserID INT,
    @Amount DECIMAL(12,2),
    @PaymentMethod NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CurrentBalance DECIMAL(12,2);
    SELECT @CurrentBalance = Balance FROM Users WHERE UserID = @UserID;
    
    IF @CurrentBalance < @Amount
    BEGIN
        RAISERROR('Ошибка: Недостаточно средств для вывода', 16, 1);
        RETURN;
    END;
    
    IF @Amount < 100
    BEGIN
        RAISERROR('Ошибка: Минимальная сумма вывода 100 рублей', 16, 1);
        RETURN;
    END;
    
    INSERT INTO Withdrawals (UserID, Amount, RequestDate, Status, PaymentMethod)
    VALUES (@UserID, @Amount, GETDATE(), 'Pending', @PaymentMethod);
    
    SELECT 
        'Заявка на вывод создана' AS Message,
        @Amount AS Amount,
        @PaymentMethod AS PaymentMethod,
        'Pending' AS Status;
END;
GO
USE [master]
GO
